.contactSection {
    background-color: black;
    text-align: center;
    border: none;
}

.contactList {
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.topButton {
    display: block;
    margin: 30px auto 10px;
    color: #70C1B3;
    background: black;
    cursor: pointer;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.topButton:hover {
    color: black;
    background: #70C1B3;
}

.icon {
    margin-right: 10px;    
}